body {
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.all-books h1 {
  text-align: center;
}

.listShow {
  display: flex;
  padding: 2vh 2vw;
  flex-direction: column;
  margin: 0;
}

.horizontal-line1 {
  width: 30vw;
  margin-top: 5vh;
}

/* section: add book */
.add-books {
  display: none;
  flex-direction: column;
  align-items: center;
}

.input-book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.no-book {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2;
}

.title,
.author {
  display: block;
  width: 330px;
  height: 30px;
  padding: 3px;
  border: 2px solid grey;
  font-size: 1.5rem;
  border-radius: 5px;
}

.add {
  align-self: center;
  width: 150px;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: rgb(49, 210, 231);
  color: #fff;
}

.add:hover {
  cursor: pointer;
  background-color: rgb(24, 173, 24);
}

.grey-background {
  background-color: #ddd;
}

.toma {
  background-color: rgb(242, 247, 246);
}

.hide {
  display: none;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vw;
  font-size: 1.3rem;
}

.remove-button {
  border: none;
  padding: 10px;
  background-color: rgb(243, 59, 26);
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.remove-button:hover {
  cursor: pointer;
  background-color: tomato;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: bold;
  background-color: teal;
  font-size: 1rem;
  padding: 2vh 2vw;
  box-shadow: 0 3px 10px  rgb(221, 207, 207);
  position: sticky !important;
  position: -webkit-sticky;
  top: 0;
}

.nav-title {
  color: rgb(253, 251, 251);
}

.heading {
  color: rgb(49, 210, 231);
}

.contact-intro {
  text-align: justify;
  margin: 0;
  padding: 0 2vw;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.nav-items a {
  text-decoration: none;
  font-size: 1rem;
}

.nav-items a:not(:first-child) {
  color: rgb(49, 210, 231);
}

.list {
  color: #fff;
}

.copyright {
  background-color: teal;
  color: #fff;
  padding: 2vh 2vw;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}

.slant {
  font-style: italic;
  color: teal;
}

.contact-info {
  display: none;
  flex-direction: column;
  align-items: center;
}

.time-date-container {
  display: flex;
  justify-content: flex-end;
  padding: 2vh 2vw;
}

.error {
  color: red;
}

@media screen and (min-width: 768px) {
  .title,
  .author {
    width: 40vw;
  }

  .nav {
    font-size: 1.5rem;
  }
}
